:root{
  background-color: black;
  color: white
}



/* Allow scrolling without showing the scrollbar */


/* Hide the scrollbar for webkit-based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  display: none; /* Hides scrollbar */
}
